.float-left{
    float: left;
    background-color: red;
    padding: 15px;
}

.float-right{
    float: right;
    background-color: blue;
    padding: 15px;
}
.division-tag{
    clear: left;
}
.float-right2{
    clear: right;
    background-color: purple;
    padding: 15px;
}