.static{
    position: static;
    bottom: 0;
    border: 1px solid orange;
}
.relative{
    position: relative;
    left: 50px;
    border: 1px solid red;
}
.absolute{
    position: absolute;
    top: 150px;
    left: 0;
    width: 300px;
    height: 300px;
    border: 1px solid blue;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 1px solid green;
}